@import 'public';
body{
    background:#f8f8f8;
}
.banner {
    height:325px;
    background:#f8f8f8;
    padding:0 40px 0 32px;
    .box{
    margin:0 auto;
    width:1200px;
    height:325px;
         .nav{
            height:315px;
            width:187px;
            background:linear-gradient(to right top,#fe9307,#ff5300);
            border:1px solid #f05304;
            border-top:0;
            border-radius:0 0 8px 8px ;
            float:left;
            div{
                width:171px;
                height:60px;
                margin:1px auto;
            }
            ul{
                height:60px;
                background:#ffffff;
                a{
                    display:inline-block;
                    font-size:15px;
                    color:#173223;
                }
            }
            .nav2 ul li:nth-of-type(1) a{
                width:30px;
                height:30px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -198px 3px;
                margin:15px 18px 0 24px;
            }
            .nav2 ul li:nth-of-type(2) a{
                line-height:60px;
            }
            .nav2 ul li:nth-of-type(3) a{
                width:15px;
                height:15px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -375px -12px;
                margin:22px 0 0 24px
            }
            .nav3 ul li:nth-of-type(1) a{
                width:30px;
                height:30px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -229px 3px;
                margin:15px 18px 0 24px;
            }
            .nav3 ul li:nth-of-type(2) a{
                line-height:60px;
            }
            .nav3 ul li:nth-of-type(3) a{
                width:15px;
                height:15px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -375px -12px;
                margin:22px 0 0 24px
            }
            .nav4 ul li:nth-of-type(1) a{
                width:30px;
                height:30px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -260px 3px;
                margin:15px 18px 0 24px;
            }
            .nav4 ul li:nth-of-type(2) a{
                line-height:60px;
            }
            .nav4 ul li:nth-of-type(3) a{
                width:15px;
                height:15px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -375px -12px;
                margin:22px 0 0 24px
            }
            .nav5 ul li:nth-of-type(1) a{
                width:30px;
                height:30px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -291px 3px;
                margin:15px 18px 0 24px;
            }
            .nav5 ul li:nth-of-type(2) a{
                line-height:60px;
            }
            .nav5 ul li:nth-of-type(3) a{
                width:15px;
                height:15px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -375px -12px;
                margin:22px 0 0 24px
            }
            .nav6 ul li:nth-of-type(1) a{
                width:30px;
                height:30px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -321px 3px;
                margin:15px 18px 0 24px;
            }
            .nav6 ul li:nth-of-type(2) a{
                line-height:60px;
            }
            .nav6 ul li:nth-of-type(3) a{
                width:15px;
                height:15px;
                background:url(../img/indeximg/dogcat.min.png) no-repeat -375px -12px;
                margin:22px 0 0 24px
            }
        }
        #carousel{
            width:702px;
            height:305px;
            float:left;
            background:red;
            margin-left:13px;
            overflow: hidden;
            position: relative;
            #pic li{
                position:absolute;
                top:0;
                left:0;
            }
            #bd{
                height:30px;
                position:absolute;
                top:273px;
                left:583px;
                li a{
                   width:10px;
                   height:10px;
                   background:#e4e3de;
                   margin-left:10px;
                   border-radius: 50%;
                }  
            }
        }
        .zixun{
            float:right;
            width:280px;
            height:305px;
            .chongzuzi{
                height:36px;
                padding-top:15px;
                 position: relative;
                 background:#ffffff;
               .zixun_left{
                   width:140px;
                   height:30px;
                   background:url(../img/indeximg/dogcat.min.png) no-repeat -192px -32px;
                   margin-left:12px;
               }
               .zixun_right{
                   width:48px;
                   height:22px;
                   color:#000000;
                   display:inline-block;
                   position: absolute;
                   top:13px;
                   right:17px;
                   a{
                       color:#000000;font-size:14px;
                   }
                   a:nth-of-type(2){
                       display:inline-block;
                       width:15px;
                       height:20px;
                       background:url(../img/indeximg/dogcat.min.png) no-repeat -376px 10px; 
                   }
               }
               .zixun_right:hover a{
                   color:#ff5500;
               }
            }
            ul{
                height:254px;
                li{
                    height:80px;
                    width:100%;
                    border-top:1px solid #e7e7e7;
                    background:#ffffff;
                    .chongzi{
                        display:inline-block;
                        width:168px;
                        float:left;
                        line-height:1;
                        padding-top:14px;
                        a:hover{
                            color:#ff5500;
                        }
                        a{
                            font-size:14px;
                            display: inline-block;
                            color:#000000;
                            height:34px;
                        }
                        span{
                            display: inline-block;
                            font-size:13px;
                            color:#999999;
                            margin-top:5px;
                        }
                    }                 
                    .tu{
                        display:inline-block;
                        width:80px;
                        height:58px;
                        margin:12px 8px 12px 12px;
                        float:left;
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                }
            }
        }
    }
}
.time{
    height:360px;
    background:#FFFFFF;
    .stime{
        height:360px;
        width:1200px;
        margin:0 auto;
        .time_left{
            width:233px;
            height:360px;
            float:left;
            img{
                width:100%;
                height:100%;
            }
        }
        .time_right{
            width:967px;
            height:360px;
            float:left;
            ul{
                li{
                    height:320px;
                    width:216px;
                    margin:27px 0 0 21px;
                    p:nth-of-type(1){
                        width:216px;
                        height:216px;
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                    p:nth-of-type(2){
                        width:216px;
                        height:40px;
                        font-size:15px;
                        color:#000000;
                        line-height:20px;
                        padding-top:12px;
                        display:-webkit-box;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        -webkit-line-clamp:2;
                        -webkit-box-orient:vertical;
                    }
                    .jiage{
                        width: 100%;
                        height:32px;
                        -webkit-box-sizing: border-box;
                        border:1px solid #ff5601;
                        margin-top: 15px;
                        position: relative;
                        .jiage_left{
                            height: 30px;
                            line-height: 30px;
                            position:absolute;
                            z-index: 20;
                            left:0;
                            top:0;
                            background: #ff5601;
                            color:#fff;
                            white-space: nowrap;
                            font-size:24px;
                            padding:0 15px;
                            font{
                                 font-size:18px;
                            }
                        }
                        .jiage_right{
                            white-space: nowrap;
                            height: 30px;
                            line-height: 30px;
                            float: right;
                            color:#999;
                            font-size:18px;
                            text-decoration: line-through;
                            margin-right:15px;
                        }
                    }
                }
            }
        }
    }
}
.sale{
    height:57px;
    position: relative;
    img{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
    }
}
.sale_content{
    height:321px;
    background:pink;
}
.remai{
    height:61px;
    position:relative;
    img{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
    }
}
.remai_content{
    height:402px;
    .sremai_content{
        width:1200px;
        height:402px;
        margin:0  auto;
        border-bottom:1px solid #e8e8e8;
        .sremai_left{
            width:395px;
            height:401px;
            border-right:1px solid #e8e8e8;
            border-top:1px solid #e8e8e8;
            overflow: hidden;
            float:left;
            img{
                width:100%;
                height:100%;
                transition:0.5s linear;
            }
        }
        .sremai_left:hover img{
            transform:scale(1.1);
        }
        .sremai_right{
            width:804px;
            height:401px;
            float:right;
            background:pink;
            ul{
                li{
                    width:200px;
                    height:200px;
                    border-top:1px solid #e8e8e8;
                    border-right:1px solid #e8e8e8;
                    overflow: hidden;
                    img{
                        width:100%;
                        height:100%;
                        transition:0.5s linear;
                    }
                }
                li:hover img{
                    transform: scale(1.1);
                }
            }
        }
    }
}
.remai_bottom{
    height:80px;
    .sremai_banner{
        height:80px;
        width:1200px;
        margin:0 auto;
        img{
            width:100%;
            height:100%;
        }
    }
}
.dog_top{
    height:46px;
    margin-top:10px;
    .sdog_top{
        width:1200px;
        height:46px;
        background:#ffa500;
        margin:0 auto;
        border-radius: 10px 10px 0 0;
    }
}











